# sbt specific
scalaClient/.cache
scalaClient/.history
scalaClient/.lib/
scalaClient/dist/*
scalaClient/target/
scalaClient/lib_managed/
scalaClient/src_managed/
scalaClient/project/boot/
scalaClient/project/plugins/project/
scalaClient/project/target/
scalaClient/project/project/

# Scala-IDE specific
.scala_dependencies
scalaClient/.idea/
